<!DOCTYPE html>
<html lang="en">

<head>
    <title>Update Video</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <h2>Update Video</h2>
        <form action="/admin/update-video/<%= video.id %>" method="post">
            <div class="form-group">
                <label for="text">Title:</label>
                <input type="text" class="form-control" value="<%= video.title %>" name="title">
            </div>
            <div class="form-group">
                <label for="pwd">Link:</label>
                <input type="text" class="form-control"  value="<%= video.link %>" name="link">
            </div>
            <div class="form-group">
                <label for="pwd">Price:</label>
                <input type="number" class="form-control"  value="<%= video.price %>" name="price">
            </div>
            <div class="form-group">
                <label for="pwd">Description:</label>
                <input type="text" class="form-control"  value="<%= video.description %>" name="description">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</body>

</html>